#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.container {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  list-style-type: none;
}

.listItem {
  border: 1px solid rgb(185, 185, 185);
}

.listItem:not(:first-child) {
  border-top: 0;
}

.listItem:hover {
  background-color: lightcyan;
  font-weight: bold;
}

.listItem a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  text-align: left;
}

.listItemSelected {
  background-color: lightgreen;
  color: darkgreen;
}

.details {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.datailSubEl {
  border: 1px solid rgb(185, 185, 185);
  text-align: left;
  font-size: 18px;
}

.datailSubEl:not(:first-child) {
  padding: 20px;
  border-top: 0;
}

.detailImgCont {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.detailImgCont > img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.datailHeader {
  font-size: 22px;
}